<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cardrunfast">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="单词快跑"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ReadOtherActivtiy"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cardrunfast.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ReadActivity" />
        <activity android:name=".WordCardActivity" />
        <activity android:name=".LoginUserPwdActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MineActivity" />
        <activity android:name=".FindActivity" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ButtomTab" />
        <activity android:name=".WeclomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>